<div [hidden]="hideRooms">
  <h1 [ngStyle]="{'color' : room.code ? 'red': 'red'}">hello {{hotelName}}</h1>
  <div *ngIf=" room.code > 2">
    Rooms List number
    <div [ngClass]="e ? 'even': 'odd'" *ngFor="let data of roomList; let e=even; let o=odd; let i=index">
      <div style="display: flex; gap: 15px">
        <p>{{i | number }}</p>
        <p> {{data.quantity | number:'1.0-0' }}</p>
        <p> {{data.date | date: 'dd/MMM/YYYY' }}</p>
        <p>{{e? "Even" : "Odd"}}</p>
        <p style="color: red">{{data.roomType | titlecase}}</p>
      </div>
    </div>
  </div>
  <h1>hello {{numberRooms}}</h1>
  <div [innerText]="numberRooms">
  </div>
  <a routerLink="/xyzpage">Home</a>
</div>
<button (click)="toggle()" style="border: 1px solid gray;">toggle</button>
