<!-- <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
   <div class="form-group">
    <label for="email">username</label>
    <input type="email" class="form-control" id="userrname" name="username" [(ngModel)]="user.username" required>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password" [(ngModel)]="user.password">
  </div>
  <button type="submit">login</button>
</form> -->

<div>
<img class="wave" src="public/wave.svg">
<div class="container">
    <div class="img">
        <img src="public/authentication.svg">
    </div>
    <div class="login-container">
        <form action="login.html" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <h2>Login</h2>
            <p>Bem-vindo de volta !</p>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <!-- <h5>Username</h5> -->
                    <input class="input" type="text" name="username" placeholder="Username" [(ngModel)]="user.username">
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-key"></i>
                </div>
                <div>
                    <!-- <h5>Password</h5> -->
                    <input class="input" type="password" name="password" [(ngModel)]="user.password" placeholder="Password">
                </div>
            </div>
            <input type="submit" class="btn" value="Login">
            <a class="forgot" href="forgotPassword.html">  forgot Password ?</a>
            <div class="others">
                <hr>
                <p>OR</p>
                <hr>
            </div>
            <div class="social">
                <div class="social-icons facebook">
                    <a href="#"><img src="public/facebook.png"> Login for Facebook</a>
                </div>
                <div class="social-icons google">
                    <a href="#"><img src="public/google.png"> Login for Google</a>
                </div>
            </div>
            <div class="account">
                <p>Ainda não possui conta ?</p>
                <a href="/account/register">Register</a>
            </div>
        </form>
    </div>
</div>

 </div>
